body{
    background: linear-gradient(to right, rgb(235, 236, 212), rgb(204, 233, 235));
}
.calculator {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(82, 40, 231, 0.133);
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

}
#result {
    width: 93%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    

}
.keypad {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,1fr);
}
button {
    width: 100%;
    padding:10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    cursor: pointer; 
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    
}
.operator {
    background-color: rgb(243, 209, 250);
}
.numbers {
    background-color: antiquewhite;
}